.cache
.coverage*
.credentials
.dir_locals.el
.vscode/
.idea/
.env
.jsbeautifyrc
.pytest_cache
.mypy_cache
*.log
*.swp
*.egg-info
.DS_Store
package-lock.json
__pycache__
node_modules*
pyenv/
/static/index.html
/static/js
/static/css
/static/font
/static/plugin
/build
/dist
/conf/
/credentials/
/data/
/jsonl
/store/
/tmp
/plugin
/plugins.*
/pgdata
mitto/settings/local*
builtin/*/static
packer/variables.json
