/mitto-*
/mitto_*
/opt/mitto/mitto
/opt/mitto/webapp
/opt/mitto/auth
/opt/mitto/lua
/opt/mitto/builtin
/opt/mitto/static
/opt/mitto/jobs
/opt/mitto/tools
/opt/mitto/share/bin
/opt/mitto/migrations
/opt/mitto/share/model
/opt/mitto/setup.py
/opt/mitto/requirements.txt
/debian/changelog
/usr/lib/librocksdb.*
/usr/include
/rocksdb*
